.debug {
    position: fixed; 
    top: 10px;
    left: 10px;
    background: white;
    font-family: 'Overpass Mono';
    color: black;
    padding: 10px;
    z-index: 9999;
}

.debug:hover {
    cursor: pointer;
}

.trumpize {
    top: 60px;
}

img {
    max-width: 100%;
}

body {
    background: #f1f1f1;
    font-family: 'Overpass Mono', monospace;
    line-height: 1.7em;
    font-size: 1.5em;
    color: #444293;
}

.scene {
    max-width: 100%;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

.container {
    margin-top: 0px;
}

::selection {
    background: #111;
    color: white;
}

section {
    margin-bottom: 7em;
}

.container {
    width: 83%;
    margin: auto;
}

.box {
    background: url('../img/flag.svg') 100% 100%;
    width: 95%;
    height: 100%;
}

.speech {
    margin-top: 5em;
}

ul {
    z-index: 0;
}

h1 {
    text-transform: uppercase;
    font-family: 'Oswald';
    margin-bottom: 1em;
    font-size: 2.6em;
    line-height: 1.4em;
}

h2 {
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: italic;
    margin-bottom: 1em;
    font-size: 1.8em;
    line-height: 1.4em;
}

h3 {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 em {
    background: #e43e55;
    color: white;
    font-style: normal;
    line-height: 1.6em;
}

#list {
    margin-bottom: 3em;
}

/* GOOGLE */

#overlay {
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    position: fixed;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    z-index: 9999;
    font-size: 1.3em;
    color: #333;
}

#overlay .typed {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
    border-radius: 2px;
    padding: 11px;
    background: white;
    border: 1px solid rgba(0,0,0,.1);
    height: 50px;
}

#overlay img {
    display: block;
    margin:auto;
    margin-bottom: -1em;
}

#overlay .typed:after {
    content: "|";
    color: #999;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
    animation: blink 0.8s infinite;
}

#overlay em {
    font-style: italic;
    color: #444293;
    font-weight: bold;
}

#overlay p {
    margin-top: 1em;
}

#overlay .search {
    margin: auto;
    width: 500px;
    margin-top: 8em;
}

#search p {
    font-size: 0.7em;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

.dida {
    font-family: 'Overpass Mono', monospace;
    color: #000;
    font-size: 1.2em;
}

.mitigation {
    position: relative; 
    top: 350px;
}

.box {
    background: #e43e55;
    width: 20em;
    height: 15em;
    position: relative;
    top: 1em;
    left: 1em;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* SEZIONI */
#threat {
    background: #444293;
    background-image: url('../img/bg_darker.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13%;
    min-height: 100%;
}

#threat h1 {
    color: white;
    font-size: 3.5em;
}

#threat h1:before {
    content: '"';
    font-family: 'Oswald', sans-serif;
    color: #e43e55;
    margin-left: -30px;
    margin-right: 14px;
    font-style: italic;
    font-weight: bold;
}

#threat h2 {
    color: white;
}

#footer {
    background:#353572;
    color: white;
    padding: 3em 0 5em 0;
}

#footer .logo {
    margin-top: 2em;
}

#economy img {
    max-width: 100%;
}

#energy {
    z-index: -9999;
    padding-left: 0px !important;
}

.effects-flag {
    position: relative;
    left: 1.3em;
    bottom: 1.3em;
}

.cap {
    width: 50%;
    position: relative;
    left: 20em;
    top: 5em;
}

.usmoney {
    position: relative;
    right: 1em;
    top: 2.4em;
}

.smoke {
    position: relative;
    bottom: 5em;
    right: 5em;
    width: 80%;
}

    .pin {
    position: relative;
    right: -3em;
    bottom: 2.5em;
    }

#car-effects {
    margin-bottom: 4em;
}

#exhibition {
    background: white;
    font-family: 'Overpass Mono', monospace;
    color: black;
    margin-bottom: 0;
    padding: 3em 0 5em 0;
}

#s-economy {
    margin-top: 3em;
}

#exhibition h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 0em;
}

#exhibition h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 0;
    font-weight: normal;
    font-style: normal;
}

#exhibition h3 {
    font-family: 'Oswald', sans-serif;
    color: #333;
    text-transform: none;
    font-size: 1.2em;
    line-height: 1.4em;
    font-style: normal;
    font-weight: bold;
    margin-bottom: 2em;
}

.thumb {
    width: 56%;
    position: relative;
    left: -3em;
}

#end {
    border-radius: 0 0 0.5em 0.5em;
    border-bottom: 2px solid rgba(0,0,0,.05);
    background: #f1f1f1;
    height: 50px;
    position: relative;
    top: -20px;
    overflow: hidden;
    margin-bottom: 3em;
}

#gallery > div {
    margin-bottom: 2em;
}

#podio {
    color:white;
    line-height: 1em;
    margin-bottom: 0em;
    margin-top: 3em;
    background-image: url('../img/podio_desktop.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    min-height: 40em;
    background-color: #444293;
}


#podio h2{
    color:white;
    line-height: 1em;
    font-family: 'Oswald', sans-serif;
    }

#podio .conclusion {
    font-size: 3.5em;
}

.conclusion:after {
    content: '"';
    font-family: 'Oswald', sans-serif;
    color: #e43e55;
    background: transparent;
    font-style: italic;
    font-weight: bold;
}

.ex-button {
    font-family: 'Overpass Mono', monospace;
    font-weight: bold;
    margin-top: 4em;
}

.ex-button a {
    color: white;
    transition: 0.3s ease;
    font-size: 1.1em;
    border-bottom: 2px solid white;
}

.chevron {
    color: #e43e55;
    font-size: 0.9em;
}

.ex-button i {
    font-size: 0.8em;
}

.ex-button a:hover {
    color: #e43e55;
    text-decoration: none;
    border-bottom: 2px solid #e43e55;
}

.ex-button a:hover i {
    animation: sposta 0.5s ease infinite;
    color: #e43e55;
}

.t-ex {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.5em;
    -moz-column-gap: 1.5em;
    column-gap: 1.5em;
    margin-bottom: 6em;
}

/* NAV */

#nav {
    position: fixed;
    top: 0;
    padding: 0.8em 0 1em 0;
    width: 100%;
    z-index: 999;
    transition: 0.2s ease;
    height: 3.7em;
    font-size: 1em;
}

#nav ul {
    margin-left: 0;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0px;
}

#nav .button {
    display: inline-block;
    margin-right: 2em;
}

.nav .active {
    color: #e43e55;
}

.nav a:hover, a:active, a:focus {
    color: #e43e55;
}

.blue {
    background: #444293;
}

.gray {
    background: #f1f1f1;
}

.blue a {
    color: white;
    transition: 0.3s ease;
}

.gray a {
    color: #444293;
    transition: 0.3s ease;
}

.white {
    background: white;
}

.white a {
    color: black;
    transition: 0.3s ease;
}

.bluep {
    background: #444293 !important;
}

.bluep a {
    color: white !important;
    transition: 0.3s ease;
}

/* LIGHTBOX */

.modal-header {
    padding: 0.5em 0.5em 0em 0em;
    border-bottom: none;
}

.modal-content {
    background: white;
    border-radius: 0.2em;
    box-shadow: 0 2em 3em rgba(0,0,0,.3);
    border: none;
    padding: 0;
    max-width: 85%;
    max-height: 85%;
    margin: auto;
    overflow: hidden;
    margin-top: 5em;
}

.modal-body {
    padding: 0em;
}

.modal-backdrop {
    background: #fff;
}

/* Animazioni */
@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes sposta {
    0%   { transform: translateX(0px);}
    50% { transform: translateX(10px); }
    100% { transform: translateX(0px); }
}

.rotating {
    -webkit-animation: rotating 3s linear infinite;
}

/* POPOVER */
.popover{
  border-radius:3px;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  background-color: white;
  border:1px solid #f5f5f5;
  padding: 0.5em;
  margin-bottom: 0.3em;
  z-index: 100;
}
.popover.top > .arrow {
  border-top-color: white !important;
}

.popover-content{
  font-family: "Overpass Mono", monospace;
  font-size: 1.1em;
  margin: auto;
  color:#272727;
}

@media only screen and (max-device-width: 426px) {
  .container {
      width: 98%;
  }
    
    .t-ex {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
        font-size: 1.2em;
    }
    
    body {
        font-size: 1.2em;
    }
    
    #nav {
        font-size: 1.2em;
        padding-top: 1em;
        height: 3.5em;
    }
    
    #threat {
        padding-top: 20%;
        background-image: url('../img/bg_darker.jpg');
        background-position: 95%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .mitigation {
        position: relative;
        top: 100px;
    }
    
    .scene {
        margin-bottom: 2em;
    }
    
    #overlay .search {
        margin: auto;
        width: 90%;
        margin-top: 8em;
    }
    
    #overlay .typed {
        box-shadow: 0 2px 3px rgba(0,0,0,.05);
        border-radius: 2px;
        padding: 11px;
        background: white;
        border: 1px solid rgba(0,0,0,.1);
        height: 3em;
    }
    .stelle {
        width: 90%;
        position: relative;
        left: 2.5em;
    }
    
    .smoke {
        position: relative;
        bottom: 5em;
        right: 5em;
        width: 90%;
    }
    
    .cap {
    width: 50%;
    position: relative;
    left: 10em;
    top: 5em;
}
    
    .pin {
    position: relative;
    right: -1em;
    bottom: 1.5em;
    }
    
    
    #agreements {
        margin-bottom: 3em;
    }
    
    .modal-content {
        max-width: 100%;
        max-height: 100%;
    }
    
    #podio {
        background-image: url('../img/podio_mobile.jpg');
        min-height: 57em;
    }
    
    .effects-flag {
        width: 90%;
    }
    
    #car-effects {
        position: relative;
        left: -2.1em;
    }
    
    .taxes {
        margin-top: -8em;
    }
    
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .container {
    width: 98%;
  }
    
    #b-exhibition .container {
      width: 98%;
  }
    
    h1 {
        font-size: 2.7em;
    }
    
    .mitigation {
        position: relative;
        top: 80px;
    }
    
    #podio {
    background-image: url('../img/podio_mobile.jpg');
    min-height: 35em;
}
    
    .t-ex {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
        font-size: 1.2em;
    }

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    .mitigation {
        position: relative;
        top: 50px;
    }

}